html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

main {
  width: 60vw;
  height: 50vh;
  border: 0.5rem solid #ceabe7;
  border-radius: 1rem;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

h1 {
  font-size: 3rem;
}

p {
  font-size: 1.5rem;
}

button {
  padding: 1rem 2rem;
  font-size: 1.5rem;
}
